[submodule "caffe"]
	path = caffe
	url = https://github.com/BVLC/caffe
[submodule "Learned-Activation-Functions-Source"]
	path = Learned-Activation-Functions-Source
	url = git@github.com:funmathis/Learned-Activation-Functions-Source.git
